[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "vendor/json5cpp"]
	path = vendor/json5cpp
	url = https://github.com/mortie/json5cpp.git
